@font-face {
    font-family: 'Squalo';
    src: url('Squalo-BlackItalic.eot');
    src: local('Squalo Black Italic'), local('Squalo-BlackItalic'),
        url('Squalo-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Squalo-BlackItalic.woff2') format('woff2'),
        url('Squalo-BlackItalic.woff') format('woff'),
        url('Squalo-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Squalo Normal';
    src: url('Squalo-Normal.eot');
    src: local('Squalo Normal'), local('Squalo-Normal'),
        url('Squalo-Normal.eot?#iefix') format('embedded-opentype'),
        url('Squalo-Normal.woff2') format('woff2'),
        url('Squalo-Normal.woff') format('woff'),
        url('Squalo-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Squalo';
    src: url('Squalo-UltraLight.eot');
    src: local('Squalo UltraLight'), local('Squalo-UltraLight'),
        url('Squalo-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('Squalo-UltraLight.woff2') format('woff2'),
        url('Squalo-UltraLight.woff') format('woff'),
        url('Squalo-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Squalo Hair';
    src: url('Squalo-HairItalic.eot');
    src: local('Squalo Hair Italic'), local('Squalo-HairItalic'),
        url('Squalo-HairItalic.eot?#iefix') format('embedded-opentype'),
        url('Squalo-HairItalic.woff2') format('woff2'),
        url('Squalo-HairItalic.woff') format('woff'),
        url('Squalo-HairItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Squalo';
    src: url('Squalo-Bold.eot');
    src: local('Squalo Bold'), local('Squalo-Bold'),
        url('Squalo-Bold.eot?#iefix') format('embedded-opentype'),
        url('Squalo-Bold.woff2') format('woff2'),
        url('Squalo-Bold.woff') format('woff'),
        url('Squalo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Squalo';
    src: url('Squalo-UltraLightItalic.eot');
    src: local('Squalo UltraLight Italic'), local('Squalo-UltraLightItalic'),
        url('Squalo-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('Squalo-UltraLightItalic.woff2') format('woff2'),
        url('Squalo-UltraLightItalic.woff') format('woff'),
        url('Squalo-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Squalo';
    src: url('Squalo-RegularItalic.eot');
    src: local('Squalo Regular Italic'), local('Squalo-RegularItalic'),
        url('Squalo-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('Squalo-RegularItalic.woff2') format('woff2'),
        url('Squalo-RegularItalic.woff') format('woff'),
        url('Squalo-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Squalo';
    src: url('Squalo-BoldItalic.eot');
    src: local('Squalo Bold Italic'), local('Squalo-BoldItalic'),
        url('Squalo-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Squalo-BoldItalic.woff2') format('woff2'),
        url('Squalo-BoldItalic.woff') format('woff'),
        url('Squalo-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Squalo Normal';
    src: url('Squalo-NormalItalic.eot');
    src: local('Squalo Normal Italic'), local('Squalo-NormalItalic'),
        url('Squalo-NormalItalic.eot?#iefix') format('embedded-opentype'),
        url('Squalo-NormalItalic.woff2') format('woff2'),
        url('Squalo-NormalItalic.woff') format('woff'),
        url('Squalo-NormalItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Squalo';
    src: url('Squalo-Regular.eot');
    src: local('Squalo Regular'), local('Squalo-Regular'),
        url('Squalo-Regular.eot?#iefix') format('embedded-opentype'),
        url('Squalo-Regular.woff2') format('woff2'),
        url('Squalo-Regular.woff') format('woff'),
        url('Squalo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Squalo';
    src: url('Squalo-Light.eot');
    src: local('Squalo Light'), local('Squalo-Light'),
        url('Squalo-Light.eot?#iefix') format('embedded-opentype'),
        url('Squalo-Light.woff2') format('woff2'),
        url('Squalo-Light.woff') format('woff'),
        url('Squalo-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Squalo Hair';
    src: url('Squalo-Hair.eot');
    src: local('Squalo Hair'), local('Squalo-Hair'),
        url('Squalo-Hair.eot?#iefix') format('embedded-opentype'),
        url('Squalo-Hair.woff2') format('woff2'),
        url('Squalo-Hair.woff') format('woff'),
        url('Squalo-Hair.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Squalo';
    src: url('Squalo-ThinItalic.eot');
    src: local('Squalo Thin Italic'), local('Squalo-ThinItalic'),
        url('Squalo-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Squalo-ThinItalic.woff2') format('woff2'),
        url('Squalo-ThinItalic.woff') format('woff'),
        url('Squalo-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Squalo';
    src: url('Squalo-LightItalic.eot');
    src: local('Squalo Light Italic'), local('Squalo-LightItalic'),
        url('Squalo-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Squalo-LightItalic.woff2') format('woff2'),
        url('Squalo-LightItalic.woff') format('woff'),
        url('Squalo-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Squalo';
    src: url('Squalo-Black.eot');
    src: local('Squalo Black'), local('Squalo-Black'),
        url('Squalo-Black.eot?#iefix') format('embedded-opentype'),
        url('Squalo-Black.woff2') format('woff2'),
        url('Squalo-Black.woff') format('woff'),
        url('Squalo-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Squalo';
    src: url('Squalo-SemiboldItalic.eot');
    src: local('Squalo Semibold Italic'), local('Squalo-SemiboldItalic'),
        url('Squalo-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('Squalo-SemiboldItalic.woff2') format('woff2'),
        url('Squalo-SemiboldItalic.woff') format('woff'),
        url('Squalo-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Squalo';
    src: url('Squalo-Semibold.eot');
    src: local('Squalo Semibold'), local('Squalo-Semibold'),
        url('Squalo-Semibold.eot?#iefix') format('embedded-opentype'),
        url('Squalo-Semibold.woff2') format('woff2'),
        url('Squalo-Semibold.woff') format('woff'),
        url('Squalo-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Squalo';
    src: url('Squalo-Thin.eot');
    src: local('Squalo Thin'), local('Squalo-Thin'),
        url('Squalo-Thin.eot?#iefix') format('embedded-opentype'),
        url('Squalo-Thin.woff2') format('woff2'),
        url('Squalo-Thin.woff') format('woff'),
        url('Squalo-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

